@charset "utf-8";
@import url(common.css);

* {
    font-family: "돋움", dotum, sans-serif;
    font-size: 13px;
}

#header:after {
    display: block;
    content: '';
    clear: both;
}

#visual:after {
    display: block;
    content: '';
    clear: both;
}

#container:after {
    display: block;
    content: '';
    clear: both;
}

body {
    /*min-width: 1000px;*/
    letter-spacing: -1px;
    font-weight: 400;
}

div#wrap {
    overflow-y: auto;
    position: relative;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.clear {
    clear: both;
}

/*  chat01.html ------------------------------------------------------------------------------*/
/*header_chat*/

.header_hot {
    float: left;
    width: 30%;
}

.header_logo {
    float: left;
    width: 40%;
}

.header_search {
    float: left;
    width: 20%;
}

.header_profile {
    float: left;
    width: 10%;
}

.chat_profile_img {
    width: 42px;
    border-radius: 50%;
    height: 42px;
    /* border-radius: 4px; */
    background-size: cover;
}

div.header_chat {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    float: left;
    background-color: #fbce2d;
    height: 72px;
    text-overflow: ellipsis;
    padding: 12px 26px;
    overflow: hidden;
    white-space: nowrap;
}

div.header_chat ul.chat_top_hot {
    position: relative;
    float: left;
    background-color: #fee08a;
    min-width: 265px;
    width: 16%;
    height: 33px;
    margin-top: 8px;
}

img.logo {
    position: relative;
    top: 6px;
    left: 39%;
    /* margin-top: -25px; */
    /* margin-left: -25px; */
    width: 21%;
}

li.hot_01 {
    background-color: #ffd85f;
    width: 83px;
    height: 33px;
    float: left;
}

li.hot_01 img {
    width: 56px;
    margin: 10px 0px 0px 12px;
}

li.hot_02 {
    width: 152px;
    height: 32px;
    padding-top: 8px;
    font-weight: 600;
    letter-spacing: -1.5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

li.hot_02 .hot_num {
    color: #777;
    font-weight: 600;
    letter-spacing: 0;
    margin: 0px 6px 0px 10px;
}

li.hot_02 span img {
    width: 10px;
    margin-left: 9px;
    margin-top: 7px;
    right: 12px;
    position: absolute;
}

div.header_chat h1 {
    position: relative;
    top: 4px;
    width: 106px;
    margin: 0px auto;
    padding-right: 20px;
}

div.header_chat h1 img {
    width: 106px;
}

div.chat_search {
    position: relative;
    top: -33px;
    float: right;
    width: 100%;
    height: 33px;
}

div.chat_search input:focus {
    outline: none !important;
}

div.chat_search input {
    width: 200px;
    padding: 0px 2%;
    height: 33px;
    float: right;
    margin-right: 1%;
    border: none;
    font-size: smaller;
    border-radius: 25px;
}

div.chat_search button {
    border: none;
    background: none;
    width: 33px;
    height: 33px;
    float: right;
    border: 3px solid white;
    border-radius: 20px;
    background-size: cover;
}

div.chat_search button:focus {
    outline: none !important;
}

div.chat_search button img {
    width: 80%;
    margin-top: 24%;
}

/*contents_chat*/
div.contents_chat {
    position: absolute;
    width: 100%;
    height: 100%;
}

.chat_list {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 20%;
    height: 100%;

    bottom: 0;
    overflow-y: auto;
}

.chat_list h2 {
    margin-left: 20px;
    margin-top: 5px;
    font-weight: 500;
    background: url(../images/chat_icon01.png) no-repeat 0px 2px;
    background-size: 16px;
    padding-left: 20px;
}

dl.chann {
    margin-left: 20px;
    margin-top: 20px;
    line-height: 28px;
}

dl.chann dt {
    font-family: arial, Helvetica, AppleSDGothicNeo, sans-serif;
    font-size: 15px;
    color: #444;
    letter-spacing: -0.5px;
}

dl.chann dt span {
    font-family: arial, Helvetica, AppleSDGothicNeo, sans-serif;
    font-size: 14px;
    color: #888;
    letter-spacing: -0.5px;
    margin-left: 4px;
    vertical-align: top
}

dl.chann dd span {
    font-family: arial, Helvetica, AppleSDGothicNeo, sans-serif;
    font-size: 15px;
    color: #444;
    letter-spacing: -0.5px;
}

.chat_more img {
    float: right;
    width: 20px;
    margin-top: 3px;
    margin-right: 20px;
}

dl.chann dd span.ddf {
    background: url(../images/chat_icon02.png) no-repeat 0px 2px;
    background-size: 16px;
    padding-left: 20px;
}

dl.chann dd span.dds {
    background: url(../images/chat_icon04.png) no-repeat 0px 2px;
    background-size: 18px;
    padding-left: 20px;
}

dl.chann dd span.ddt {
    background: url(../images/chat_icon03.png) no-repeat 0px 2px;
    background-size: 18px;
    padding-left: 20px;
}

dl.chann dd.active {
    background: #fbce2d;
    margin-left: -20px;
    padding-left: 20px;
    border-radius: 0px 5px 5px 0px;
    width: 90%;
}

dl.message {
    margin-left: 20px;
    margin-top: 38px;
    line-height: 28px;
}

dl.message dt {
    font-family: arial, Helvetica, AppleSDGothicNeo, sans-serif;
    font-size: 15px;
    color: #444;
    letter-spacing: -0.5px;
}

dl.message dd span {
    font-family: arial, Helvetica, AppleSDGothicNeo, sans-serif;
    font-size: 15px;
    color: #444;
    letter-spacing: -0.5px;
}

dl.message dd span.mess_icon01 {
    background: url(../images/chat_icon06.png) no-repeat 0px 6px;
    background-size: 11px;
    padding-left: 20px;
}

dl.message dd span.mess_icon02 {
    background: url(../images/chat_icon07.png) no-repeat 0px 6px;
    background-size: 11px;
    padding-left: 20px;
}

dl.message dd span.mess_icon03 {
    background: url(../images/chat_icon08.png) no-repeat 0px 6px;
    background-size: 11px;
    padding-left: 20px;
}

dl.message dd span.invite {
    font-family: arial, Helvetica, AppleSDGothicNeo, sans-serif;
    font-size: 17px;
    color: #666;
    letter-spacing: -0.5px;
    font-weight: 600;
    margin-top: 5px;
    border-bottom: dotted 1px #888;
}

img.mess_pic {
    width: 18px;
    margin-left: 8px;
    margin-top: 6px;
}

div.chat_left_menu {
    position: relative;
    margin-top: 80px;
    border-top: solid 2px #fbce2d;
    padding-top: 26px;
}

div.chat_left_menu p {
    width: 29px;
    height: 22px;
    margin: 0px auto;
}

.chat_txt {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 63%;
    border-right: solid 2px #e1e1e1;
    height: 100%;
}

div.chat_txt_area1 {
    position: relative;
    padding-bottom: 69px;
    border-bottom: solid 2px #e1e1e1;
    padding: 26px 20px 2px 20px;
}

div.graph {
    position: relative;
    width: 100%;
    height: 30px;
    background: #e9e9e9;
    border-radius: 50px;
    margin-bottom: 20px;
}

dl.selectL {
    float: left;
    background: #29aae1;
    height: 100%;
    border-radius: 50px 0px 0px 50px;
}

dl.selectR {
    float: left;
    background: #c2272d;
    height: 100%;
    border-radius: 0px 50px 50px 0px;
}

dl.selectL dt {
    float: right;
    color: #fff;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
}

dl.selectL dd {
    float: left;
    color: #fff;
    margin-left: 15px;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
}

dl.selectR dt {
    float: left;
    color: #fff;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
}

dl.selectR dd {
    float: right;
    color: #fff;
    margin-right: 15px;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
}

.chat_txt p, .chat_txt span {
    font-family: arial, Helvetica, AppleSDGothicNeo, sans-serif;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 24px;
}

p.chat_txt_area1_txt01 {
    font-family: arial, Helvetica, AppleSDGothicNeo, sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #222;
    margin-bottom: 15px;
}

.chat_txt_area1_txt02 {
    color: #9254ea;
}

.chat_txt_area1_txt03 {
    color: #1379b9;
}

.chat_txt_area1_txt04 {
    font-style: italic;
}

.chat_txt_area1_txt05 {
    background: url(../images/chat_txt_area1_txt03.png) no-repeat 0px 3px;
    padding-left: 20px;
    margin-left: 30px;
}

span.chat_date {
    display: table;
    margin: auto;
    position: relative;
    top: -16px;
    background: #fbce2d;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    padding: 2px 15px;
    border-radius: 50px;
    margin-bottom: 12px;
}

div.chat_txt_area2 {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}
.my_chat {
    float: right;
    overflow: auto;
}
.normal_chat {
    width: 100%;
    overflow: auto;
}
div.chat_txt_area2 ul {
    padding: 0px 20px 0px 20px;
}

div.chat_txt_area2 ul li.chat_pic {
    position: relative;
    background-size: cover;
    float: left;
    width: 42px;
    height: 42px;
}

div.chat_txt_area2 ul li.chat_pic img {
    width: 42px;
    height: 42px;
    border-radius: 4px;
}

div.chat_txt_area2 ul li.chat_id {
    padding-left: 52px;
    font-family: arial, Helvetica, AppleSDGothicNeo, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #222;
    letter-spacing: 0px;
}

div.chat_txt_area2 ul li.chat_id span {
    margin-left: 10px;
    font-size: 12px;
    color: #999;
    vertical-align: top;
}

div.chat_txt_area2 ul li.chat_id span img {
    width: 20px;
    margin-left: -6px;
    vertical-align: sub;
}

div.chat_txt_area2 ul li.chat_text {
    padding-left: 52px;
    font-size: 14px;
}

div.chat_txt_area2 ul li.chat_textFirst {
    font-family: arial, Helvetica, AppleSDGothicNeo, sans-serif;
    color: #999;
    font-size: 16px;
    letter-spacing: 0px;
    font-style: italic;
}

div.chat_txt_area2 ul li.chat_textFirst i {
    font-family: arial, Helvetica, AppleSDGothicNeo, sans-serif;
    color: #0872b5;
    font-size: 16px;
    letter-spacing: 0px;
    font-style: italic;
}

div.chat_input_wrap {
    position: fixed;
    width: 62.5%;
    bottom: 11px;
}

input.chat_file {
    width: 50px;
    position: absolute;
    float: left;
    box-sizing: border-box;
    height: 42px;
    border: solid 2px #d7d7d7;
    background: #fff url(../images/chat_file.png) no-repeat center center;
    border-radius: 6px 0px 0px 6px;
}

input.chat_input {
    width: 99%;
    padding-left: 50px;
    box-sizing: border-box;
    height: 42px;
    border-bottom: solid 2px #d7d7d7;
    border-top: solid 2px #d7d7d7;
    border-left: solid 2px #d7d7d7;
    border-right: solid 2px #d7d7d7;
    float: right;
    border-radius: 6px;
}

.chat_box {
    position: absolute;
    float: left;
    box-sizing: border-box;
    width: 17%;
    height: 100%;
    right: 0;
}

ul.gry_box {
    width: 80%;
    margin: 0px auto;
    background: #f9f9f9;
    margin-top: 26px;
    padding: 10px 15px;
    box-sizing: border-box;
}

li.grybox_pf_img{
    float: left;
}
.pf_img{
    width: 23px;
    height: 23px;
    background-size: cover;
    border-radius: 21px;
    margin-right: 11px;
}
}

li.grybox_sj {
    font-family: arial, Helvetica, AppleSDGothicNeo, sans-serif;
    font-size: 15px;
    color: #333;
    letter-spacing: -1px;
    font-weight: 600;
    float: left;
}

li.grybox_good {
    margin-top: 4px;
    height: 26px;
    font-weight: 600;
    letter-spacing: 1px;
    float: right;
    background: url(../images/like.png) no-repeat 0px 0px;
    background-size: 17px;
    padding-left: 20px;
}

/*  chat02.html ------------------------------------------------------------------------------*/
div.header_main {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    float: left;
    background-color: #fbce2d;
    height: 300px;
}

div.header_main h1 {
    width: 132px;
    margin: 0px auto;
    margin-top: 45px;
    margin-bottom: 35px;
}

div.header_main h1 img {
    width: 132px;
}

div.header_main form input {
    width: 56%;
    display: table;
    margin: auto;
    border: none;
    height: 58px;
    padding: 0px 20px;
    border-radius: 50px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -1px;
}

div.community_wrap {
    clear: both;
    position: relative;
    background: #eaeaea;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
}

div.community {
    width: 60%;
    display: table;
    margin: auto;
}

div.community h2 {
    letter-spacing: -2px;
    font-size: 19px;
    background: url(../images/comm_icon.png) no-repeat 0px 2px;
    background-size: 18px;
    padding-left: 28px;
    margin-bottom: 12px;
}

div.community div ul {
    width: 100%;
    display: table;
    margin: auto;
    background: #f2f2f2;
    border-bottom: solid 2px #dedee0;
    padding: 12px 29px;
    font-size: 14px;
}

div.community div ul:first-child {
    border-top: solid 2px #dedee0;
}

li.comm_num {
    font-family: arial, Helvetica, AppleSDGothicNeo, sans-serif;
    float: left;
    font-size: 30px;
    color: #222;
    line-height: 60px;
}

li.comm_thumbnail {
    float: left;
    margin: 0px 12px 0px 28px;
}

li.comm_thumbnail img {
    width: 88px;
}

li.comm_subject {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 13px;
    margin-top: 10px;
}

li.comm_subject img {
    width: 14px;
    margin-left: 5px;
}

li.comm_subject span {
    letter-spacing: 1px;
    color: #1c81c9;
    vertical-align: top;
    margin-left: 5px;
}

li.comm_info {
}

li.comm_info span {
    font-size: 13px;
    margin-right: 10px;
    color: #888;
}

li.comm_info img {
    width: 18px;
    margin-top: -2px;
}

div.chat_btn {
    width: 60px;
    height: 60px;
    z-index: 1000;
    position: fixed;
    right: 35px;
    bottom: 35px;
    background: #3da8dc url(../images/comm_chat.png) no-repeat center center;
    border-radius: 50px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

/*모바일 반응형 대응*/

/*데스크탑 반응형 대응*/
@media ( max-width: 767px ) {
    .chat_list {
        display: none;
        position: relative;
        float: left;
        box-sizing: border-box;
        width: 20%;
        height: 100%;
    }

    .chat_box {
        position: relative;
        float: left;
        box-sizing: border-box;
        width: 17%;
        height: 100%;
        display: none;
    }

    .chat_txt {
        position: relative;
        float: left;
        box-sizing: border-box;
        width: 100%;
        border-right: solid 2px #e1e1e1;
        height: 100%;
    }

    div.chat_input_wrap {
        position: fixed;
        width: 100%;
        bottom: 11px;
    }

    div.chat_txt_area2 ul li.chat_text {
        padding-left: 52px;
        font-size: 1em;
    }

    div.chat_search {
        position: relative;
        top: -33px;
        float: right;
        width: 100%;
        height: 33px;
        display: none;
    }
    div.header_chat ul.chat_top_hot {
        position: relative;
        float: left;
        background-color: #fee08a;
        min-width: 265px;
        width: 16%;
        height: 33px;
        margin-top: 8px;
        display: none;
    }

}
